//Imports poppins font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500");

//Applies primary color (mango orange)
$body-color: #252525;
$primary: #ffad4f;
$danger: #FF7042;

//Adds poppins font to default bootstrap family base
$font-family-base: "Poppins", sans-serif !default;

//Imports bootstrap files
@import "../../../vendor/twbs/bootstrap/scss/bootstrap.scss";

//Changes auction item images when screen size < 574
@media (max-width: 574px) {
	.auction-item {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
}

//Wrapper for centering content
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// align items to the right in a .d-flex container
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.flex-align#{$infix}-right {
			margin-left: auto;
		}
	}
}
