//Imports poppins font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500");

//Applies primary color (mango orange)
$primary: #ffad4f;

//Adds poppins font to default bootstrap family base
$font-family-base: "Poppins", sans-serif !default;

//Changes auction item images when screen size < 574
@media (max-width: 574px) {
  .auction-item {
	padding-left: 1em !important;
	padding-right: 1em !important;
  }
}

//Wrapper for centering content
.centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

//Imports bootstrap files
@import "../../../vendor/twbs/bootstrap/scss/bootstrap.scss";
