{include '../views/includes/header.latte'}

    <h1>Hello, World!</h1>
    <div class="btn btn-primary">Test</div>
    <p>Binnenkort is hier de veilingswebsite van iConcepts te vinden!</p>

{include '../views/includes/footer.latte'}
