{include './includes/header.latte'}

{*
Een form met een input voor het email adres
een submitbutton in boven genoemde form
*}
{if !$cameFromMail}
<div form>
	<div input veld>
 	</div>




	 
</div>
{else}

{/i}

{include './includes/footer.latte'}

