{include '../includes/header.latte'}

<div class="container">
	<h1>{$_requestPath}</h1>

	<div>
		{getBreadCrumbs()|noescape}
	</div>

	<div n:if="$_params" class="parameters">
		<h2>Parameters:</h2>

		<ul>
			<li n:foreach="$_params as $param">{$param}</li>
		</ul>
	</div>

	<form method="POST" action="/test/">
		{getCsrfInput()|noescape}

		<input type="text" class="form-control mb-3" name="test" placeholder="test" required>

		<button type="submit" class="btn btn-primary">Yeet</button>
	</form>
</div>

{include '../includes/footer.latte'}
