{include '../includes/header.latte'}

<h1>{$_requestPath}</h1>

<div n:if="$_params">
	<h2>Parameters:</h2>

	<div class="container">
			<span class="test-2" id="lol">
				{getBreadCrumbs()|noescape}
			</span>
		</p>
	</div>

	<ul>
		<li n:foreach="$_params as $param">{$param}</li>
	</ul>
</div>

{include '../includes/footer.latte'}